.mainContainer{
    flex-direction: column;
    display:flex;
    align-items:center;
    justify-content:start;
    height:100vh;
    background-color:seagreen;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

.titleContainer{
    display:flex;
    flex-direction:row;
    font-size:30px;
    font-weight:bolder;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;
}

.inputContainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputBox{
    height:48px;
    width:400px;
    font-size:large;
    border-radius:8px;
    border:1px solid grey;
    padding-left:8px;
    margin-bottom: 10px;
}

.inputButton{
    height:48px;
    width:410px;
    font-size:large;
    border-radius:8px;
    border:1px solid yellow;
    padding-left:8px;
    background-color: yellow;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: transparent;
    border-color: transparent;
    color: gold;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: transparent;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  