.update-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/pizzaLeft.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .form-container {
    background-color: rgba(46, 59, 43, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #fff;
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-btn:hover {
    background-color: #e67e22;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  